<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./assets/css/style.css" />
    <title>LAYOUT</title>
  </head>
  <body>
    <div id="root">

      
      <aside>
        <ul>
          <li>
            <a href="">INICIO</a>
          </li>
          <li>
            <a href="">PAGINA1</a>
          </li>
          <li>
            <a href="">PAGINA2</a>
          </li>
          <li>
            <a href="">PAGINA3</a>
          </li>
        </ul>
      </aside>

      <main>
        <h1>Productos con descuento</h1>

        <div class="boxes-container">

          <div class="box">
            <img
              src="https://images.unsplash.com/photo-1721332155567-55d1b12aa271?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            />
            <div class="content">
              <p id="name">PlayStation 5 - 20% OFF</p>
              <p id="price">$300</p>
            </div>
          </div>
          <div class="box">
            <img
              src="https://images.unsplash.com/photo-1721332155567-55d1b12aa271?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            />
            <div class="content">
              <p id="name">PlayStation 5 - 20% OFF</p>
              <p id="price">$300</p>
            </div>
          </div>
          <div class="box">
            <img
              src="https://images.unsplash.com/photo-1721332155567-55d1b12aa271?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            />
            <div class="content">
              <p id="name">PlayStation 5 - 20% OFF</p>
              <p id="price">$300</p>
            </div>
          </div>
          <div class="box">
            <img
              src="https://images.unsplash.com/photo-1721332155567-55d1b12aa271?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            />
            <div class="content">
              <p id="name">PlayStation 5 - 20% OFF</p>
              <p id="price">$300</p>
            </div>
          </div>
          <div class="box">
            <img
              src="https://images.unsplash.com/photo-1721332155567-55d1b12aa271?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            />
            <div class="content">
              <p id="name">PlayStation 5 - 20% OFF</p>
              <p id="price">$300</p>
            </div>
          </div>
          <div class="box">
            <img
              src="https://images.unsplash.com/photo-1721332155567-55d1b12aa271?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            />
            <div class="content">
              <p id="name">PlayStation 5 - 20% OFF</p>
              <p id="price">$300</p>
            </div>
          </div>
          <div class="box">
            <img
              src="https://images.unsplash.com/photo-1721332155567-55d1b12aa271?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            />
            <div class="content">
              <p id="name">PlayStation 5 - 20% OFF</p>
              <p id="price">$300</p>
            </div>
          </div>
          <div class="box">
            <img
              src="https://images.unsplash.com/photo-1721332155567-55d1b12aa271?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            />
            <div class="content">
              <p id="name">PlayStation 5 - 20% OFF</p>
              <p id="price">$300</p>
            </div>
          </div>
          <div class="box">
            <img
              src="https://images.unsplash.com/photo-1721332155567-55d1b12aa271?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            />
            <div class="content">
              <p id="name">PlayStation 5 - 20% OFF</p>
              <p id="price">$300</p>
            </div>
          </div>



        </div>


      </main>


    </div>
  </body>
</html>
