* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  text-decoration: none;
}

#root {
  display: flex;
}
/* 

*/

aside {
  background-color: black;
  min-height: 100vh;
  width: 20vw;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
  padding-top: 1rem;
}

li :hover {
  background-color: gray;
}

/* MAIN SECTION */
main {
  width: 80vw;
  background-color: aqua;
}
/* PRODUCTOS */
h1 {
  color: black;
  text-align: center;
}

.boxes-container {
  /* background-color: yellow; */
  display: flex;
  flex-direction: row; /* si es row */
  justify-content: center; /* maneja el eje horizontal */
  gap: 1rem; /* Separación entre hijos */
  flex-wrap: wrap;
}

.box {
  width: 300px;
  height: 300px;
  background-color: rgb(218, 218, 218);
  border-radius: 12px;
}

img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.content {
  /* background-color: red; */
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center;  */
  gap: 2px;
}

#name {
  text-align: center;
  font-size: 24px;
}

#price {
  text-align: end;
  font-size: 24px;
  color: green;
}
